.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 6vh;
  width: 100%;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #2196f3;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
}

.linkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 6vh;
  width: 14vh;
}
.linkWrapper:hover {
  background-color: #1e88e5;
}
.linkWrapper:focus {
  background-color: #1e88e5;
  outline: transparent;
}

.linkWrapper:last-child {
  margin-left: 0%;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin-left: 4%;
  /* or 150% */

  text-align: center;
  letter-spacing: 0.25px;

  /* White / Medium Emphasis */

  color: rgba(255, 255, 255, 0.7);
}
.link:first-child {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.link:last-child {
  margin-left: 0;
}

.link:visited > .linkWrapper {
  background-color: #1e88e5;
}
